<a href="https://twitter.com/share?hashtags=MeetLolla&url=http%3A%2F%2Fmeetlolla.com%2F&text=Are%20You%20Ready?" target="_blank"><span class="username link grey-link">Tell A Friend</span></a>
<a href="https://twitter.com/{{ include.username }}" target="_blank" style="text-decoration:none;">
    <span class="icon icon--twitter">{% include svg/icon-twitter.svg %}</span>
</a>
<a href="https://twitter.com/share?url=http%3A%2F%2Fmeetlolla.com%2F&via=TristanTimblin&related=twitterapi%2Ctwitter&hashtags=MeetLolla&text=Hi%20From" target="_blank"><span class="username link grey-link">Lemme Know</span></a>
<!--{{ include.username }}-->
