.chicago {
    position: relative;
    //width: $content-width;
    svg {
        display: block;
        max-width: $content-width * .8;
        width: 90%;
        margin: 0 auto;
        #front {
            
        }
        #mid {
            
        }
        #back {
            
        }
    }
}