$speakerColor: $background-color;

.sound-icon	{
	position: relative;
    overflow-x: hidden;
	&-speaker {
		display: flex;
		align-items: center;
        transform: translateX(15px);
        overflow-x: hidden;
		&-box {
			width: 17px; height: 15px;
			background: $speakerColor;
			border-radius:2px;
		}
		&-cone {
			width: 23px; height: 23px;
			transform: rotate(45deg) translate(-7px, 7px);
			background: $speakerColor;
			border-radius:2px;
		}
		&-cover {
			display: flex;
			align-items: center;
            width: 20px; height: 38px;
            padding: 8px 5px;
			transform:translate(-21px, 0);
			background: $red;
			&-bar {
				width: 4px; height: 50%;
				margin: 0 3px;
				background: $speakerColor;
				border-radius: 2px;
				&:nth-child(2) {
					height: 70%;
				}
                transition: all 400ms cubic-bezier(0.44, 0.09, 0.21, 1.27) 100ms;
			}
		}
	}
}

.silent {
	.sound-icon-speaker-cover-bar {
		height: 60%;
		margin: 0;
		transform: rotate(45deg);
		background: $background-color;
		&:nth-child(1) {
			transform: rotate(-45deg) translate(3px, 3px);
		}
        background: lighten($red, 25%);
	}
}