.shuffle {
    position: relative;
    margin: 100px 0;
    z-index: 100;
    &-date {
        max-width: $content-width;
        margin: 0 auto;
        transform: translateY(50px);
        h4 {
            display: inline;
            padding: 5px 10px;
            color: $background-color;
            background: $blue;
        }
        @include media-query($on-palm) {
            margin: 0 $spacing-unit / 2;
        }
    }
    &-artist {
        position: relative;
        overflow: hidden;
        filter:contrast(20);
        
        padding: 50px 0;
        transform: translateY(50px);
        
        background-color: $background-color;
        h1 {
            text-align: center;
            font-size: 7em;
            @include media-query($on-palm) {
                margin: 10px $spacing-unit / 2;
                font-size: 5em;
                line-height: 1em;
            }
            filter: blur(0.2rem);
            //overflow: hidden;
        }
        &-letter {
             min-width: 30px;
        }
        &-link {
            position: absolute;
            max-width: $content-width;
            bottom:-$spacing-unit/2;
            right: 0; left: 0;
            margin: auto;
            a {
                float: right;
            }
        }
    }
    &-next {
        width: 200px;
        margin: 0 auto;
        transform: translateY(-90px);
        @include media-query($on-palm) {
            transform: translateY(-50px);
            animation: next-nudge-sm 5s ease infinite;
        }
        animation: next-nudge 5s ease infinite;
        //animation: spin-progress 30s ease-out infinite;
    }
}

@keyframes spin-progress {
    0% {
        transform: translateY(-90px) rotate(0deg);
    }
    100% {
        transform: translateY(-90px) rotate(-360deg);
    }
}

@keyframes next-nudge {
    0% {
        transform: translateY(-90px) rotate(0deg);
    }
    70% {
        transform: translateY(-90px) rotate(0deg);
    }
    80% {
        transform: translateY(-90px) rotate(-20deg);
    }
    90% {
        transform: translateY(-90px) rotate(0deg);
    }
    95% {
        transform: translateY(-90px) rotate(-10deg);
    }
    100% {
        transform: translateY(-90px) rotate(0deg);
    }
}

@keyframes next-nudge-sm {
    0% {
        transform: translateY(-45px) rotate(0deg);
    }
    70% {
        transform: translateY(-45px) rotate(0deg);
    }
    80% {
        transform: translateY(-45px) rotate(-20deg);
    }
    90% {
        transform: translateY(-45px) rotate(0deg);
    }
    95% {
        transform: translateY(-45px) rotate(-10deg);
    }
    100% {
        transform: translateY(-45px) rotate(0deg);
    }
}