#example {
    background-color: #212121;
    color: #F2F2F2;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: small;
	//height: 550px;
}

#example a {
    text-decoration: none;
    color: #007ed6;
}

#example p {
    margin: 2px;
}

#example img {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

#example audio {
    width: 100%;
}

#example .showIfNoApi {
    display: none;
}

#example #visualisation {
    position: relative;
    height: 0px;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    overflow-x: hidden;
}

#example #visualisation > div {
    position: absolute;
    width: 14px;
    background-color: #EC9683;
    
	bottom: 0px;
    &:nth-child(odd) {
        @include media-query($on-laptop) {
            display:none;
        }
    }
	&:before {
		position: absolute;
		width:70px; height:70px;
		transform: translateY(-68px) translateX(-27px);
		content: '';
		background-image: url('../../src/img/hand1.svg');
		background-size: contain;
		background-position: top left;
		background-repeat:no-repeat;
		
	}
    &:nth-child(3), &:nth-child(19) {
        background-color: #C66E34;
        &:before {
            width:60px;
            transform: translateY(-60px) translateX(-24px);
            background-image: url('../../src/img/hand2.svg');
        }
    }
    &:nth-child(4), &:nth-child(10), &:nth-child(18) {
        background-color: #E3937C;
        &:before {
            width:150px;
            transform: translateY(-70px) translateX(-32px);
            background-image: url('../../src/img/hand3.svg');
        }
    }
    &:nth-child(1), &:nth-child(5), &:nth-child(13) {
        background-color: #F6BA98;
        &:before {
            width:100px;
            transform: translateY(-70px) translateX(-25px);
            background-image: url('../../src/img/hand4.svg');
        }
    }
    &:nth-child(6), &:nth-child(16) {
        background-color: #C66E34;
        &:before {
            width:100px;
            transform: translateY(-70px) translateX(-25px);
            background-image: url('../../src/img/hand5.svg');
        }
    }
    &:nth-child(7), &:nth-child(14) {
        background-color: #C66E34;
        &:before {
            width:100px;
            transform: translateY(-70px) translateX(-33px);
            background-image: url('../../src/img/hand6.svg');
        }
    }
    &:nth-child(8), &:nth-child(12), &:nth-child(17) {
        background-color: #E3937C;
        &:before {
            width:60px;
            transform: translateY(-60px) translateX(-24px);
            background-image: url('../../src/img/hand7.svg');
        }
    }
}